p {
  color: red;
  padding-left: 20%;
  font-size: 40px;
  padding-top: 40%;
}

body {
  background: linear-gradient(135deg, purple, white, red);
  overflow: hidden;
  padding-bottom: 10%;
  
}

h1 {
  color: cyan;
  align-content: center;
  padding-left: 45%;
  font-size: 40px;
  text-shadow: 4px 4px purple;
}

input[type="submit" i] {
  background-color: grey;
  border: 4px solid grey;
  border-radius: 4px 4px;
  text-align: center;
  color: fuchsia;
  padding-right: 15%;
  font-size: 20px;
  
}

